@model List<Product>
@{
}

<h2 class="text-center mb-5">DANH SÁCH SẢN PHẨM</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create" >Thêm sản phẩm</a>

    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Hình ảnh</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Brand</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Category</td>
                <td>@item.Price.ToString("C")</td>
                <td><img src="/Products/@item.ImageUrl" alt="@item.Name" style="width: 100px; height: auto;" /></td>
                <td>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm ('bạn chắc chứ?')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
